/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   doft.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: ldevelle <ldevelle@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2019/10/14 12:42:00 by ldevelle          #+#    #+#             */
/*   Updated: 2019/10/14 18:49:57 by ldevelle         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

body {
	/* background-image: url(resources/doft.jpg); */
	background-repeat: no-repeat;
	background-position: -87px -77px;
	background-color: #505050;
}


.grey
{
	background-color: #909090;
	/* border: solid red 1px; */
	border-radius: 10px;
	box-shadow: 11px 10px 5px black;
	/* opacity: 0.5; */
}

*{
	/* mix-blend-mode: difference; */
}

h1 {
	color: navy;
	margin-left: 20px;
}

img {
	/* opacity: 0.5; */
}

.close_image
{
	float: right;
	margin-right: -23px;
	margin-top: 106px;
	width: 23px;
	height: 21px;
}
.reload_image
{
	width: 23px;
	height: 21px;
	float: right;
	margin-top: 7px;
	margin-right: 9px;
}
.loupe_image
{
	position: absolute;
	top: 28px;
	left: 1285px;
}

.top_image
{
	margin-top: 12px;
	margin-left: 8px;
	width: 427px;
	height: 105px;
}

.top_screen
{
	margin-top: 18px;
	margin-left: 143px;
	margin-right: 35px;
	width: 1420px;
	height: 137px;
}

.center_screen
{
	margin-top: 18px;
	margin-left: 173px;
	margin-right: 13px;
	display: flex;
	flex-direction: row;
	width: 1360px;
}

.box{

}

.grey_box_left
{
	display: flex;
	flex-direction: column;
	padding-left: 32px;
	padding-right: 32px;
	height: 423px;
}

.arrow_icon
{
	width: 70px;
	height: 74px;
	padding-top: 14px;
}

.hand_icon
{
	width: 70px;
	height: 70px;
	padding-top: 9px;
}

.eye_icon
{
	width: 70px;
	height: 65px;
	margin-top: 5px;
	border: 5px solid red;
	border-radius: 5px;
	margin-left: -5px;
}

.tools_icon
{
	width: 70px;
	height: 70px;
	padding-top: 5px;
}

.chat_icon
{
	width: 70px;
	height: 71px;
	padding-top: 10px;
}

.grey_box_right
{
	display: flex;
	flex-direction: column;
	padding-left: 32px;
	padding-right: 12px;
	height: 425px;
	width: 142px;
	margin-left: 27px;
	margin-right: 27px;
}
.book_icon
{
	width: 72px;
	height: 97px;
	padding-top: 16px;
	padding-left: 2px
}
.towel_icon
{
	width: 74px;
	height: 57px;
	padding-top: 7px;
}
.wall_icon
{
	width: 122px;
	height: 71px;
	padding-top: 3px;
	margin-left: -22px;
}

.grey_box_cent
{
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	padding-left: 11px;
	padding-right: 10px;
	padding-top: 13px;
	padding-bottom: 10px;
}

.big_image
{
	width: 1000px;
	height: 560px;
}

.green_box
{
	position: absolute;
	top: 681px;
	left: 106px;
	width: 510px;
	height: 168px;
	background-color: #88FF89;
	border-radius: 10px;
	padding-left: 9px;
	border-radius: 10px;
	box-shadow: 11px 10px 5px black;
}

.normal_text
{
	font-family: sans-serif;
	margin-top: 3px;
	font-size: 18px;
}
.search
{
	display: flex;
	flex-direction: row;
	height: 40px;
	margin-top: -17px;
}

strong
{
	font-family: Georgia;
	font-size: 35px;
	font-weight: normal;
}

#shadow
{
	text-shadow: 5px 5px 5px 2px red;
}

em
{
	font-style: italic;
}

.search_box
{
	width: 376px;
	margin-left: 2px;
	height: 17px;
	font-size:10px;
	border-top: 2px solid #9b9b9a;
	border-left: 2px solid #9b9b9a;
	border-bottom: 2px solid #f1ece2;
	border-right: 2px solid #f1ece2;
}

.search_button
{
	background-color: #e5e5e5;
	border-color: #afaca9;
	border-radius: 2px;
	margin-left: 7px;
	width: 78px;
	height: 20px;
	font-size: 13px;
	font-weight: 200;
	font-family: sans-serif;
	font-style: bold;
	color: black;
	border-color: gray;
	border: 1px solid gray;
}

.search_text
{
	font-size: 13px;
	margin-top: -1px;
}

.chair
{
	position: absolute;
	top: 484px;
	left: 667px;
	height: 254px;
	width: 168px;
}

.screen
{
	position: absolute;
	top: 465px;
	left: 1130px;
	height: 201px;
	width: 220px;
}
