/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   responsive.css                                     :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: ldevelle <ldevelle@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2019/10/14 19:01:02 by ldevelle          #+#    #+#             */
/*   Updated: 2019/10/14 19:01:19 by ldevelle         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

table
{
	width: 100%;
	height: 70%;
}
td, th
{
	text-align: center;
	position: relative;
	border: 1px solid black;
}
td, p{
	font-size: 1vw;
}
.no_border{
	border: none;
}
.numero_atomique{
	font-family: monospace;
	position: absolute;
	text-align: left;
	margin: 0;
	bottom: 0;
	font-size: 1vw;
}
.masse_atomique{
	font-family: monospace;
	position: absolute;
	text-align: right;
	margin: 0;
	top: 0;
	right: 0;
	margin-right: 3px;
	font-size: 1vw;
}
.element{
	font-family: system-ui;
	margin: 0;
	text-align: center;
	font-size: 3vw;
}
.explanation{
	font-size: 1.5vw;
}
.explanation_supp{
	font-size: 1vw;
	color: grey;
}
.periode{
	border: none;
}
.groupe{
	border: none;
}
.autres_non_metaux{
	background-color: #96ceb4;
}
.metalloides{
	background-color: #ffeead;
}
.alcalins{
	background-color: #ff6f69;
}
.metaux_de_transition{
	background-color: #ffcc5c;
}
.alcalino_terreux{
	background-color: #88d8b0;
}
.metaux_pauvres{
	background-color: #a8e6cf;
}
.gaz_nobles{
	background-color: #dcedc1;
}
.halogenes{
	background-color: #ffd3b6;
}
.lanthanides{
	background-color: #ffaaa5;
}
.actinides{
	background-color: #ff8b94;
}
.non_classes{
	background-color: #dddddd;
}
img{
	width: 20%;
}
.legend{
	height: 5%;
	width: 80%;
	margin-top: 5%;
	margin-left: 5%;
}
.title{
	margin-left: 25%;
	margin-top: -3%;
	position: absolute;
	font-size: 5vw;
	font-family: system-ui;
}
body{
	background-image: url(https://www.mydecolab.com/products/papier-peint-motif-geometrique-bleu-nelio-1845.png);
}
